<div class="container">
  <div class="jumbotron col-md-12" style="margin-top: 60px;">
    <h1>Welcome</h1>
    <h2>Choose an activity</h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <a data-role="link-to-receive-greeting" href="/hello_world"
           class="btn btn-primary btn-lg" role="button"
        >
          Receive a Greeting!
        </a>
      </div>
      <div class="col-md-6">
        <a data-role="link-to-play-game" href="/game"
           class="btn btn-primary btn-lg" role="button"
        >
          Test your Memory!
        </a>
      </div>
    </div>
  </div>
</div>
