  <style>
    body {
      text-align: center;
    }
    .row {
      margin-top: -2px;
      margin-bottom: -2px;
    }
    .cell {
      width: 100px;
      height: 100px;
      display: inline-block;
      border: 1px solid #aaa;
      background: #f8f8f8;
      margin: 2px;
    }
    .active {
      background-color: #058BDA;
    }
    .guess-true {
      background-color: green;
    }
    .guess-false {
      background-color: red;
    }
  </style>


<h1>Hello World</h1>
<%= react_component(
    "HelloWorld",
    props: @hello_world_props,
    prerender: true,
) %>
