<div class="container">
  <div class="jumbotron col-md-12" style="margin-top: 60px;">
    <h1>Hello World</h1>
    <%= react_component(
        "HelloWorld",
        props: @hello_world_props,
        prerender: true,
    ) %>

    <% link_to_tutorial =
     'https://github.com/shakacode/react_on_rails/blob/master/docs/tutorial.md'
    %>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <a data-role="cite-source" href='<%="#{link_to_tutorial}" %>'
           class="btn btn-primary btn-lg" role="button"
         >
          Learn more about the react-on-rails gem!
        </a>
      </div>
      <div class="col-md-6">
        <a data-role="cite-source" href='<%= root_path %>'
           class="btn btn-primary btn-lg" role="button"
         >
          Choose an activity
        </a>
      </div>
  </div>
</div>
